CompileFlags:
  CompilationDatabase: .
  Remove:
    - "-fmodules-ts"
    - "-fmodule-mapper=*"
    - "-fdeps-format=*"

Index:
  Background: Build
  StandardLibrary: true

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders
  HeaderInsertion: IWYU

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
  DefaultArguments: true
  BlockEnd: true

Hover:
  ShowAKA: true
